body {
	background-image: url("../images/ice.jpg");
	background-position: left top;
}

header {
	background-color: #993d00;
	color: #fff;
	padding: 20px 5px;
	margin: 10px;
	width: 170px;
}

h1 {
	font-size: 20px;
	font-weight: bold;
}
/* game's instructions box */
.game-info {
	font-size: 12px;
	height: 70px;
	background-color: #ffd;
	color: green;
	padding: 20px 10px 10px 10px;
	height: 250px;
	width: 300px;
	line-height: 1.2em;
	margin-left: 10px;
	margin-bottom: 10px;
}
/* Goal number box */
.goalBox {
	background-color: #40bf80;
	color: darkblue;
	font-size: 2em;
	width: 150px;
	height: 80px;
	padding: 5px;
	margin-left: 10px;
	float: left;
}
/* Wins & losses counter box */
.winBox {
	background-color: lightblue;
	color: darkblue;
	width: 70px;
	height: 80px;
	padding: 5px;
	line-height: 1.5em;
	margin-left: 180px;
	margin-bottom: 10px;
}
/* gem buttons */
.gemButtons {
	clear: both;
	position: relative;
	float: left;
	margin: 0 auto;
	display: inline-block;
}

.gemImage {
	width: 80px;
	height: 80px;
  	margin: 10px;
}
/* Gem value accumulator box */
.totalLit, .tallyBox {
	background-color: #009999;
	color: #fff;
	width: 200px;
}

.totalLit {
	padding: 10px;
	height: 20px;
	text-align: left;
	margin: 120px 0 0 10px;
}

.tallyBox {
	font-size: 2em;
	padding: 10px 10px 50px 10px;
	margin: 10px 0 10px 10px;
}